<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.dev.personalassistant">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".expenses.ManageExpenseTagsActivity"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".documents.ManageDocumentTagsActivity"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".documents.ManageDocumentImagesActivity"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity android:name=".expenses.AddEditExpensesActivity" />
        <activity android:name=".MyInformationActivity" />
        <activity android:name=".documents.ShowDocumentsListActivity" />
        <activity android:name=".documents.ShowDocumentDetailsActivity" />
        <activity android:name=".expenses.TrackElectronicExpensesActivity" />
        <activity android:name=".kym.KnowYourMasterActivity" />
        <activity android:name=".kym.KymShowPersonalDetailsActivity" />
        <activity android:name=".kym.KymShowPersonalListActivity" />
        <activity android:name=".kym.KymShowBankListActivity" />
        <activity android:name=".kym.KymShowBankDetailsActivity" />
        <activity android:name=".kym.KymShowCardListActivity" />
        <activity android:name=".kym.KymShowCardDetailsActivity" />
        <activity android:name=".kym.KymShowCarDetailsActivity" />
        <activity android:name=".kym.KymShowResidentialDetailsActivity" />
        <activity android:name=".kym.KymShowFamilyDetailsActivity" />
        <activity android:name=".investments.InvestmentsActivity" />
        <activity android:name=".investments.FixedDepositsInvestmentDetailActivity" />
        <activity android:name=".investments.FixedDepositsInvestmentListActivity" />
        <activity android:name=".investments.PPFInvestmentListActivity" />
        <activity android:name=".investments.PPFInvestmentDetailActivity" />
        <activity android:name=".investments.SavingsInvestmentListActivity" />
        <activity android:name=".investments.SavingsInvestmentDetailActivity" />
        <activity android:name=".investments.SIPInvestmentDetailActivity" />
        <activity android:name=".investments.SIPInvestmentListActivity" />
        <activity android:name=".investments.RDInvestmentListActivity" />
        <activity android:name=".investments.RDInvestmentDetailActivity" />
        <activity android:name=".reminders.ManageRemindersListActivity" />
        <activity android:name=".reminders.ManageRemindersDetailsActivity" />

        <service
            android:name=".services.reminder.ReminderService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".expenses.ExpensesShowManualActivity"></activity>
    </application>

</manifest>